{{> header this}}

<!--container za vso vsebino-->
<div class="container-lg h-100">


    <div class="row">
        <!--prva kartica-->
        {{> profilNav this}}

        <!--Tle se začne druga kartica-->
        <div class="col-md-8 col-sm-12">

            <!-- zgornj kartica-->
            <div class="card-deck" >
                <div class="card  border-dark">
                    <div class="card-header bg-dark text-white ">
                        <div class="row">
                            <div class="col">Nastavitve</div>
                            <div class="col"><a href="nastavitve_uredi"><span class="interactive text-white">Uredi osebne podatke</span></a></div>
                        </div>
                    </div>

                    <!-- card body-->
                    <div class="card-body px-1 py-1">

                        <div class="row m-2 info">
                            <div class="col">
                                Ime in Priimek
                            </div>
                            <div class="col">
                                {{ime}} {{priimek}}
                            </div>

                        </div>

                        <div class="row m-2 info">
                            <div class="col">
                                Email:
                            </div>
                            <div class="col">
                                {{email}}
                            </div>
                        </div>

                        <div class="row m-2 info">
                            <div class="col">
                                Telefon
                            </div>
                            <div class="col">
                                {{telefon}}
                            </div>
                        </div>

                        <div class="row m-2 info">
                            <div class="col">
                                Geslo:
                            </div>
                            <div class="col">
                                {{geslo}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- srednja kartica-->
            <div class="card-deck pt-2">
                <div class="card  border-dark">
                    <div class="card-header bg-dark text-white ">
                        <div class="row">
                            <div class="col">Nastavitve obveščanja</div>
                        </div>
                    </div>

                    <div class="card-body px-1 py-1">
                        <div class="row m-2 info border-bottom">
                            <div class="col">
                                Obveščanje
                            </div>
                        </div>

                        <div class="row m-2 info">
                            <div class="col">
                                Obvestilo v primeru da tekma odpade:
                            </div>
                        </div>

                        <div class="row info m-2 border-bottom">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="smsOdpoved" {{#if smsOdpade}} checked {{/if}} >
                                    <label class="form-check-label" for="smsOdpoved" default="true">
                                        Sms obveščanje
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="emailodpoved" {{#if emailOdpade}} checked {{/if}}>
                                    <label class="form-check-label" for="emailodpoved">
                                        Email obveščanje
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row m-2 info">
                            <div class="col">
                                Obvestilo o prihajujoči tekmi:
                            </div>
                        </div>

                        <div class="row info m-2">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="smsPrihajujoča" {{#if smsPrihaja}} checked {{/if}}>
                                    <label class="form-check-label" for="smsPrihajujoča">
                                        Sms obveščanje
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="emailPrihajujoča" {{#if emailPrihaja}} checked {{/if}}>
                                    <label class="form-check-label" for="emailPrihajujoča">
                                        Email obveščanje
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row info m-2">
                            <div class="col">
                                <button type="button" onClick="urediObvescanje()" class="btn btn-success">Shrani</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- spodnja kartica-->
            <div class="card-deck pt-2">
                <div class="card  border-dark">
                    <div class="card-header bg-dark text-white ">Nastavitve zasebnosti</div>
                    <div class="card-body px-1 py-1">

                        <div class="row m-2 info border-bottom">
                            <div class="col">
                                Drugi uporabniki lahko vidijo:
                            </div>
                        </div>

                        <div class="row info m-2">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="emailPokazi" {{#if emailDrugi}} checked {{/if}}>
                                    <label class="form-check-label" for="emailPokazi">
                                        Moj email
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="telPokazi" {{#if telDrugi}} checked {{/if}}>
                                    <label class="form-check-label" for="telPokazi">
                                        Mojo telefonsko številko
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row info m-2">
                            <div class="col">
                                <button type="button" onClick="urediZasebnost()" class="btn btn-success">Shrani</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
{{> footer}}